# AI host
AI_HOST="your-lindorm-ai-host.lindorm.aliyuncs.com"
AI_PORT="9002"

# Search host
SEARCH_HOST="your-lindorm-search-host.lindorm.aliyuncs.com"
SEARCH_PORT="30070"

# Lindorm user password
LD_USER="root"
LD_PASSWORD="your-password"

LOAD_FILE_PATH="data/cmrc2018_train.json"

SEARCH_TOP_K="9"

DASHSCOPE_API_KEY="your-dashscope-api-key"

LD_VL_MODEL="bge_visual0"
LD_TEXT_MODEL="bge_m3_model"
